* {
    box-sizing: content-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--white);
}

:root {
    --black: hsl(0, 0%, 10%);
    --black-pure: hsl(0, 0%, 0%);

    --grey-dark: hsl(0, 0%, 15%);
    --grey-dark-glass: hsla(0, 0%, 15%, 0.8);
    --grey: hsl(0, 0%, 30%);
    --grey-light: hsl(0, 0%, 45%);
    --grey-highlight: hsl(0, 0%, 60%);

    --white: #ffffff;
    --white-glass: #ffffff40;

    --blue-dark: hsl(240, 100%, 5%);
}

body {
    background-color: var(--black);
    background-color: var(--blue-dark);
    background-image:
    radial-gradient(white, rgba(255,255,255,.2) 2px, transparent 40px),
    radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 30px),
    radial-gradient(white, rgba(255,255,255,.1) 2px, transparent 40px),
    radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 2px, transparent 30px);
    background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px; 
    background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
}

header {
    background-color: var(--grey-dark);
    background-color: var(--grey-dark-glass);
    box-shadow: 0px 0px 8px var(--black-pure);
}

.search-form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;

    padding: 8px;
}

.search-form input {
    min-width: 256px;
    width: 50%;
    padding: 8px;

    font-size: 1rem;
    color: var(--white);
    background-color: var(--grey);

    outline: none;
    box-shadow: none;
    border: none;
    border-radius: 2px 0px 0px 2px;
}

.search-form input:focus {
    background-color: var(--grey);
}

.search-form input::placeholder {
    color: var(--grey-highlight);
}

.search-form__search-button {
    padding: 0 16px;
    border: none;
    border-radius: 0px 2px 2px 0px;

    font-size: 1rem;
    color: white;

    background-color: var(--grey-light);
    cursor: pointer;
}

.search-form__search-button:hover {
    background-color: var(--grey-highlight);
}

.weather-container {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;

    display: flex;
    flex-direction: column;

    width: clamp(45ch, 90%, 75ch);
    padding: 8px 16px;
    border-radius: 4px;

    box-shadow: 0 4px 32px var(--black-pure);
    background-color: var(--grey-dark);
    background-color: var(--white-glass);

    letter-spacing: 1px;
    word-spacing: 8px;
}

.weather-container__location {
    text-align: center;
    border-bottom: 2px solid var(--grey-light);
}

.temperature-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.weather-container__temperature {
    flex: 1;
    text-align: center;
    padding: 8px 0px;

    font-size: 4rem;
}

.weather-container__temperature--celcius {
    border-right: 2px solid var(--grey-light);
}

.weather-container__last-updated {
    border-top: 2px solid var(--grey-light);
    padding-top: 8px;
    text-align: right;
}
